<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('styles', path='/styles.css') }}" rel="stylesheet">
    <title>Password Reset</title>
</head>
<body>

    <div>
        <h1>Reset Password</h1>
    <form id="sub">
        <label>Email</label>
        <input id="email" type="email" value={{email}} readonly>
        <label>New Password</label>
        <input autocomplete="none" id="password" type="password" required>
        <label>New Password Again</label>
        <input autocomplete="none" id="repeat" type="password" required>
        <h2 id="message"></h2>
        <div><button>RESET</button></div>
    </form>
    </div>

    <script>
        document.getElementById("sub").addEventListener("submit", e => {
            e.preventDefault();
            const email = document.getElementById("email").value
            const password = document.getElementById("password").value
            const repeat = document.getElementById("repeat").value

            if (password !== repeat) {
                document.getElementById("message").innerHTML = "Passwords don't match";  
            } else if (password.length < 6) {
                document.getElementById("message").innerHTML = "Password too short (min. 6 characters)";  
            } else {
                fetch(`http://localhost:8000/api/change_password/?email=${email}&hashed_password=${password}`,{ method: 'GET' }).then((res) => {
                    document.getElementById("message").innerHTML = "New Password Set"
                })
            }
        })
    </script>
</body>
</html>